{% extends "base.html" %}

{% block content %}
  <h1 class="my-4">Метки</h1>
  <a class="btn btn-primary mb-3" href="{% url 'labels:labels_create' %}">Создать метку</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Имя</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for label in labels %}
      <tr>
        <td>{{ label.id }}</td>
        <td>{{ label.name }}</td>
        <td>
          <a href="{% url 'labels:labels_update' label.id %}" class="btn btn-sm btn-secondary">Изменить</a>
          <a href="{% url 'labels:labels_delete' label.id %}" class="btn btn-sm btn-danger">Удалить</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
